html
  head
    title= 'Employee Form'
  body
    h1= 'Employee Details'
    form(
      action=""
    )
      label= 'First Name : '
      input(
        type='text'
        id='firstName'
      )
      br
      label= 'Last Name : '
      input(
        type='text'
        id='lastName'
      )
      br
      label= 'Username : '
      input(
        type='text'
        id='username'
      )
      br
      label= 'Email : '
      input(
        type='text'
        id='email'
      )
      br
      label= 'Phone : '
      input(
        type='text'
        id='phone'
      )
      br
      button(
        type='submit'
      )= 'Submit'
