html
  head
    title= 'Employee Form'
    script(src='https://code.jquery.com/jquery-1.11.1.js')
  body
    h1= 'Employee Details'
    form(
      action="employee/create"
      method='post'
    )
      label(for='firstName')= 'First Name : '
      input#firstName(
        type='text'
      )
      br
      label(for='lastName')= 'Last Name : '
      input#lastName(
        type='text'
      )
      br
      label(for='username')= 'Username : '
      input#username(
        type='text'
      )
      br
      label(for='email')= 'Email : '
      input#email(
        type='text'
      )
      br
      label(for='phone')= 'Phone : '
      input#phone(
        type='text'
      )
      br
      input(
        type='submit'
        value='Submit'
        )
